USE [perpetuumsa]
GO

-------------------------------------------------------------------
--Artifact CT Loot rebalance
--Parameters: see econ sheet
--The distribution of CT's is now a factor of the island type alpha/beta/gamma
--The CT quality is a factor of the artifacttype level
--Date modified: 2020/01/11
-------------------------------------------------------------------

DROP TABLE IF EXISTS #INDY_CTS_BY_NAME;
DROP TABLE IF EXISTS #NUIMQOL_CTS_BY_NAME;
DROP TABLE IF EXISTS #PELI_CTS_BY_NAME;
DROP TABLE IF EXISTS #THELO_CTS_BY_NAME;

CREATE TABLE #INDY_CTS_BY_NAME (defName varchar(100), islandType varchar(100), level int, chance float);
CREATE TABLE #NUIMQOL_CTS_BY_NAME (defName varchar(100), islandType varchar(100), level int, chance float);
CREATE TABLE #PELI_CTS_BY_NAME (defName varchar(100), islandType varchar(100), level int, chance float);
CREATE TABLE #THELO_CTS_BY_NAME (defName varchar(100), islandType varchar(100), level int, chance float);

DROP TABLE IF EXISTS #INDY_CTS;
DROP TABLE IF EXISTS #NUIM_CTS;
DROP TABLE IF EXISTS #PELI_CTS;
DROP TABLE IF EXISTS #THELO_CTS;
CREATE TABLE #INDY_CTS (def int, islandType varchar(100), level int, chance float);
CREATE TABLE #NUIM_CTS (def int, islandType varchar(100), level int, chance float);
CREATE TABLE #PELI_CTS (def int, islandType varchar(100), level int, chance float);
CREATE TABLE #THELO_CTS (def int, islandType varchar(100), level int, chance float);

--


--

--

--

SELECT * FROM #INDY_CTS_BY_NAME;
SELECT * FROM #NUIMQOL_CTS_BY_NAME;
SELECT * FROM #PELI_CTS_BY_NAME;
SELECT * FROM #THELO_CTS_BY_NAME;

PRINT N'INSERT TABLES WITH DEFINITION ID LOOKUP';
INSERT INTO #INDY_CTS (def, islandType, level, chance)
SELECT (SELECT TOP 1 definition FROM entitydefaults WHERE definitionname=#INDY_CTS_BY_NAME.defName) as def, islandType, level, chance FROM #INDY_CTS_BY_NAME;

INSERT INTO #NUIM_CTS (def, islandType, level, chance)
SELECT (SELECT TOP 1 definition FROM entitydefaults WHERE definitionname=#NUIMQOL_CTS_BY_NAME.defName) as def, islandType, level, chance FROM #NUIMQOL_CTS_BY_NAME;

INSERT INTO #PELI_CTS (def, islandType, level, chance)
SELECT (SELECT TOP 1 definition FROM entitydefaults WHERE definitionname=#PELI_CTS_BY_NAME.defName) as def, islandType, level, chance FROM #PELI_CTS_BY_NAME;

INSERT INTO #THELO_CTS (def, islandType, level, chance)
SELECT (SELECT TOP 1 definition FROM entitydefaults WHERE definitionname=#THELO_CTS_BY_NAME.defName) as def, islandType, level, chance FROM #THELO_CTS_BY_NAME;


DECLARE @cf_modules bigint;
SET @cf_modules = (SELECT value FROM categoryFlags WHERE name='cf_lottery_items');

--Old Loot
PRINT N'SELECTING ALL CT CAPSULE LOOT'
SELECT * FROM artifactloot JOIN artifacttypes ON artifacttype=artifacttypes.id 
WHERE definition IN (
SELECT definition FROM entitydefaults WHERE definitionname LIKE '%_CT_capsule' AND note='MK2 CT Capsule!' AND
categoryflags & CAST(dbo.GetCFMask(@cf_modules) as BIGINT) = @cf_modules
);

--DELETE ALL CT-CAPSULES FROM ARTIFACT LOOT (AND RE-INSERT)
PRINT N'DELETING ALL CT CAPSULE LOOT'
DELETE FROM artifactloot WHERE definition IN (
SELECT definition FROM entitydefaults WHERE definitionname LIKE '%_CT_capsule' AND note='MK2 CT Capsule!' AND
categoryflags & CAST(dbo.GetCFMask(@cf_modules) as BIGINT) = @cf_modules
);


--INSERT PELISTAL CTS TO PELISTAL SCIENCE ARTIFACTS
PRINT N'PELISTAL SCIENTIFIC ARTIFACTS';
PRINT N'science_pelistal_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level1_alpha'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=1 AND islandType='alpha';

PRINT N'science_pelistal_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level2_alpha'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=2 AND islandType='alpha';

PRINT N'science_pelistal_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level3_alpha'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=3 AND islandType='alpha';

PRINT N'science_pelistal_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level1_beta'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=1 AND islandType='beta';

PRINT N'science_pelistal_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level2_beta'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=2 AND islandType='beta';

PRINT N'science_pelistal_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level3_beta'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=3 AND islandType='beta';

PRINT N'science_pelistal_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level1_gamma'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=1 AND islandType='gamma';

PRINT N'science_pelistal_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level2_gamma'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=2 AND islandType='gamma';

PRINT N'science_pelistal_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_pelistal_level3_gamma'), def, 1, 1, chance, 1 
	FROM #PELI_CTS WHERE level=3 AND islandType='gamma';


--INSERT NUIMQOL CTS TO NUIMQOL SCIENCE ARTIFACTS
PRINT N'NUIMQOL SCIENTIFIC ARTIFACTS';
PRINT N'science_nuimqol_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level1_alpha'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=1 AND islandType='alpha';

PRINT N'science_nuimqol_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level2_alpha'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=2 AND islandType='alpha';

PRINT N'science_nuimqol_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level3_alpha'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=3 AND islandType='alpha';

PRINT N'science_nuimqol_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level1_beta'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=1 AND islandType='beta';

PRINT N'science_nuimqol_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level2_beta'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=2 AND islandType='beta';

PRINT N'science_nuimqol_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level3_beta'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=3 AND islandType='beta';

PRINT N'science_nuimqol_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level1_gamma'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=1 AND islandType='gamma';

PRINT N'science_nuimqol_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level2_gamma'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=2 AND islandType='gamma';

PRINT N'science_nuimqol_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_nuimqol_level3_gamma'), def, 1, 1, chance, 1 
	FROM #NUIM_CTS WHERE level=3 AND islandType='gamma';


--INSERT THELODICA CTS TO THELODICA SCIENCE ARTIFACTS
PRINT N'THELODICA SCIENTIFIC ARTIFACTS';
PRINT N'science_thelodica_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level1_alpha'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=1 AND islandType='alpha';

PRINT N'science_thelodica_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level2_alpha'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=2 AND islandType='alpha';

PRINT N'science_thelodica_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level3_alpha'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=3 AND islandType='alpha';

PRINT N'science_thelodica_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level1_beta'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=1 AND islandType='beta';

PRINT N'science_thelodica_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level2_beta'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=2 AND islandType='beta';

PRINT N'science_thelodica_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level3_beta'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=3 AND islandType='beta';

PRINT N'science_thelodica_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level1_gamma'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=1 AND islandType='gamma';

PRINT N'science_thelodica_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level2_gamma'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=2 AND islandType='gamma';

PRINT N'science_thelodica_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'science_thelodica_level3_gamma'), def, 1, 1, chance, 1 
	FROM #THELO_CTS WHERE level=3 AND islandType='gamma';


--INSERT INDUSTRIAL CTS TO NUIMQOL INDUSTRIAL ARTIFACTS
PRINT N'NUIMQOL INDUSTRIAL ARTIFACTS';
PRINT N'industrial_nuimqol_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level1_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='alpha';

PRINT N'industrial_nuimqol_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level2_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='alpha';

PRINT N'industrial_nuimqol_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level3_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='alpha';

PRINT N'industrial_nuimqol_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level1_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='beta';

PRINT N'industrial_nuimqol_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level2_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='beta';

PRINT N'industrial_nuimqol_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level3_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='beta';

PRINT N'industrial_nuimqol_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level1_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='gamma';

PRINT N'industrial_nuimqol_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level2_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='gamma';

PRINT N'industrial_nuimqol_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_nuimqol_level3_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='gamma';


--INSERT INDUSTRIAL CTS TO PELISTAL INDUSTRIAL ARTIFACTS
PRINT N'PELISTAL INDUSTRIAL ARTIFACTS';
PRINT N'industrial_pelistal_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level1_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='alpha';

PRINT N'industrial_pelistal_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level2_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='alpha';

PRINT N'industrial_pelistal_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level3_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='alpha';

PRINT N'industrial_pelistal_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level1_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='beta';

PRINT N'industrial_pelistal_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level2_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='beta';

PRINT N'industrial_pelistal_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level3_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='beta';

PRINT N'industrial_pelistal_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level1_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='gamma';

PRINT N'industrial_pelistal_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level2_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='gamma';

PRINT N'industrial_pelistal_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_pelistal_level3_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='gamma';


--INSERT INDUSTRIAL CTS TO THELODICA INDUSTRIAL ARTIFACTS
PRINT N'THELODICA INDUSTRIAL ARTIFACTS';
PRINT N'industrial_thelodica_level1_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level1_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='alpha';

PRINT N'industrial_thelodica_level2_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level2_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='alpha';

PRINT N'industrial_thelodica_level3_alpha';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level3_alpha'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='alpha';

PRINT N'industrial_thelodica_level1_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level1_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='beta';

PRINT N'industrial_thelodica_level2_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level2_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='beta';

PRINT N'industrial_thelodica_level3_beta';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level3_beta'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='beta';

PRINT N'industrial_thelodica_level1_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level1_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=1 AND islandType='gamma';

PRINT N'industrial_thelodica_level2_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level2_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=2 AND islandType='gamma';

PRINT N'industrial_thelodica_level3_gamma';
INSERT INTO artifactloot (artifacttype, definition, minquantity, maxquantity, chance, packed)
SELECT (SELECT TOP 1 id FROM artifacttypes WHERE name = 'industrial_thelodica_level3_gamma'), def, 1, 1, chance, 1 
	FROM #INDY_CTS WHERE level=3 AND islandType='gamma';

GO