/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[x]
      ,[y]
      ,[name]
      ,[description]
      ,[note]
      ,[fertility]
      ,[zoneplugin]
      ,[zoneip]
      ,[zoneport]
      ,[isinstance]
      ,[enabled]
      ,[spawnid]
      ,[plantruleset]
      ,[protected]
      ,[raceid]
      ,[width]
      ,[height]
      ,[terraformable]
      ,[zonetype]
      ,[sparkcost]
      ,[maxdockingbase]
      ,[sleeping]
      ,[plantaltitudescale]
      ,[host]
      ,[active]
  FROM [perpetuumsa].[dbo].[zones]

  Update zones
  set active = 1
  where id = 20